.body{
  
}

 /*table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}
th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #89B6B1;
}

th {
  background-color: #126E62;
  color: #E1EDEB;
}

tr:hover {
  background-color: #6BA49D;
}

h1 {
  font-size: 28px;
  color: #126E62;
}


  h1 {
    color: #126E62;
  }

  button.add-button {
    background-color: #E1EDEB;
    color: #126E62;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    float: right;
    margin-right: 20px;
  }

  button.add-button:hover {
    background-color: #6BA49D;
    color: #E1EDEB;
  }

  table {
    border-collapse: collapse;
    margin-top: 20px;
    width: 100%;
  }

  table th,
  table td {
    border: 1px solid #89B6B1;
    padding: 10px;
    text-align: center;
  }

  table th {
    background-color: #E1EDEB;
    color: #126E62;
  }

  table td form {
    display: inline-block;
  }

  table td form input[type='submit'] {
    background-color: #E1EDEB;
    color: #126E62;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }

   table td form input[type='submit']:hover {
    background-color: #6BA49D;
    color: #E1EDEB;
  }
  button.modification.php {
    background-color: #E1EDEB;
    color: #126E62;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  button.modification.php:hover {
    background-color: #6BA49D;
    color: #E1EDEB;
}
*/

.sidebar {
  --sidebar-width: 230px;
  width: var(--sidebar-width);
  background-color: var(--color-bg);
  border-radius: .5rem;
  padding: .5rem 0;
  height: fit-content;
  position: relative;
  margin-top: 34px;
}


