
*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
section {
  display: flex;
  justify-content: center;
  padding-right: 10%;
  position: relative;
  margin-top: 5%;
}


 .said-check {
	background-color: var(--color2);
	height: 530px;
	width: 16%;
	border-radius: 13px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	color: var(--color3);
	margin-top: -24.1%;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
	
	position: sticky;
	overflow: hidden;
	left: 10%;
	top: 155px;

}
.said-check {
	background-color: var(--color2);
	height: 530px;
	width: 16.7%;
	border-radius: 13px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	color: var(--color3);
	margin-top: 9.9%;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
	position: sticky;
	overflow: hidden;
	left: 10%;
	top: 110px;
}

 .said-check::after{
  content: "";
  height: 11px;
 background-color: #64b9bb92;
 position: absolute;
 top: 0%;
 width: 100%;
 }
 .said-check .side-ul{
  gap: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8%;
  
 }
 .said-check .side-ul .choix{
  padding-left: 15px;
  height: 35px;
  padding-top: 9px;
  cursor: pointer;
 }
 .said-check .side-ul .choix:hover{
  background-color: #f0fafb;
  color: #315454;
 }

 .side-ul h4{
  padding-left: 5%;
  background-color:var(--color4);
  height: 35px;
  padding-top: 4%;
  color: var(--color1);
  font-size: 110%;
  font-weight: 500;
  border-left: #64babb solid;
  border-radius: 2px;
 }
 
 
form {
	margin: auto;
	width: 50%;
	background-color: #E1EDEB;
	padding: 20px;
	border-radius: 10px;
	margin-bottom: 50px;
	margin-top: 114px;
}
.side-ul label{
  margin-bottom: 0;
}
label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="text"], input[type="email"], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #126E62;
  background-color: #E1EDEB;
  color: #126E62;
}

input[type="submit"] {
  background-color: #6BA49D;
  color: #E1EDEB;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

input[type="submit"]:hover {
  background-color: #89B6B1;
}

label .choix {
  font-weight: 200;
}

