:root {

    /* dark mode */
    /* --color1: #126E62;
    --color2: #E1EDEB;
    --color3: #6BA49D;
    --color4: #89B6B1;
  color:   #000f31; */
  --color4:#f0fafb;
  --color2:#ffff;
 --color3:#64babb ;
 --color1:#5ea4a4 ;


  }
 body {
     background-color: var(--color4);
       
      }
      
      h2 {
        margin: 0.25em 0;
        padding-bottom: 2%;
        color: var(--color1);
        font-size: 130%;

      }
     section h5{
        margin-bottom: .7%;
        flex-direction: row;
        display: flex;
        gap: 10px;
        font-size: 90%;
        font-weight: 400;
        margin-bottom: 1%;
        color: black;
       
      }
      section h5 p{
        font-size: 100%;
        font-weight: 300;
        color: var(--color1);
        margin-top: 0%;
      }
      
     section p {
        margin-top: 3%;
        font-size: 0.8em;
        line-height: 1.4em; 
        
      }
      section{
        margin-top: 15%;
      }
      
      .readmore {
        margin: 2em auto;
        width: 80%;
        display: flex;
        background-color: var(--color2);
        padding: 30px;
        max-height: 200px;
        border-radius: 30px;
        position: relative;
        overflow-y: hidden;
        box-shadow: 0 4px 7px rgba(0, 0, 0, 0.18), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.5s ease;
      }
      .readmore.open {
        max-height: 999px;
        transition: all 0.5s ease;
      }
      .readmore .div2 {
        margin-left: 30px;
        width: 250px;
      }
    
    .readmore .div2 h3 {
        color: var(--color3);
        padding: 15px 0px;
    }
      .readmore div {
        width: 650px;
      }
      .readmore .readmore-link {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        text-align: right;
        margin: 0;
        padding: 30px 15px 15px 15px;
        background-image: -moz-linear-gradient(top, transparent, white);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, transparent), color-stop(1, #eeeeee));
      }
      .readmore .readmore-link a {
        color: #ffffff;
        text-decoration: none;
        font-size: 0.9em;
        text-transform: uppercase;
        letter-spacing: 1px;
        background-color:var(--color1);
        padding: 10px 20px;
        border-radius: 20px;
        opacity: 0.6;
        transition: all 0.25s ease;

      }
      .readmore .readmore-link a:hover {
        opacity: 1;
      }
      .mamber  {
        height: 220px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
      }
      .mamber h6{
        margin-top: 3%;
        font-size: 80%;
      }
      .mamber p{
        color: var(--color1);
        margin-top: 0%;
      }