:root {

    /* dark mode */
    --color1: 126E62;
    --color2: E1EDEB;
    --color2: 6BA49D;
    --color2: 89B6B1;
    

  }
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Tajawal', sans-serif;
}


header {
    height: 100vh;
    width: 100%;
    background-color:#000f31;
    overflow: hidden;
}
.container{
    margin: 0 auto;
    width: 90%;
    height: auto;
    background-color: #e1edeb;
    border-radius: 30px;
    margin-top: 25px;
}
a {
    width: 20%;
    text-decoration: none;
    color: #060606;
   
}
 .logo img {
   width: 100px;
   height: 30px;
  
 }
nav{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: .9rem;
    
}







nav ul {
    list-style: none;
    display: flex;
    position: relative;
}
nav ul li a{
  text-decoration: none;
  margin: 0 2rem;
  letter-spacing: 1px;
  color: #000000;
  color: var(--color1);

}
nav ul .dropdown  {
    position: absolute;
    left: 5%;
    top: 100%;
    width: 150px;
    height: 29px;
    display: none;
}
nav ul .dropdown ul{
    flex-direction: column;
    position: absolute;
    left: 20%;
    top: 100%;
    background-color: rgba(240, 248, 255, 0.074);
    width: 150px;
    height: 100px;
    justify-content: space-around;
    border-radius: 8px;
    
}

nav ul a:hover{ 
    color: #88a5e0;
}

nav ul li:hover .dropdown   {
    display:block;
}





/* animation */
nav ul li  {
    transform: translateX(100rem);
    animation: slideIn  1s forwards;
}
nav ul li:nth-child(1){
    animation-delay: 0s ;
}
nav ul li:nth-child(2){
    animation-delay: 0.4s ;
}
nav ul li:nth-child(3){
    animation-delay: .8s ;
}
nav ul li:nth-child(4){
    animation-delay: 1.2s ;
}

/* dropdown no animation  */
nav ul li .dropdown ul li{
    transform: translateX(0rem);
    animation: none;
}
@keyframes slideIn {
    to{
transform: translateX(0rem)  ;
    }
}







/* for dark mode */
input[type="checkbox"]{
    position: absolute;
    top: 5%;
    left: 97%;
   
  }
  input:focus{
    outline: none;
  }
  .search-form:hover{
    border: .5px solid #93929298;
  }






/* //search bare */
.search-form{
    height: 35px;
    width: 20%;
    background-color: rgba(255, 255, 255, 0.786);
    border-radius: 30px;
    box-shadow: 0 0 20px #030303d4;
    display: flex;
    justify-content: space-evenly;
}
.search-input{
    background-color: transparent;
    border: none;
    height: auto;
    width: 70%;
}
.search-button{
    width: 35px;
    font-size: 120%;
    color: rgb(7, 7, 91);
    background-color: transparent;
    border: none;
   
    margin-top: 4px;
}





























/* prisentation animate */

.home{
    
    width: 100%;
    height: 50vh;
    background-color: #0b0b0b00;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.home h1{
    font-size: 170%;
}
.home-discreption{
    display: flex;
   align-items: center;
    flex-direction: column;
    line-height: 130px;
    overflow: hidden;
    padding-bottom: 2px;
    text-align: center;
    
}
.home-animation{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  text-align: center;
  line-height: 25px
}
.home-animation span{
    font-size: 150%;
    margin-top: 5%;
    display: none;
    
}

.home-animation span.text-in {
display: block;
animation: textIn .7s ease;
}

.home-animation span.text-out {
animation: textOut .5s ease;
}

@keyframes textIn {
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0%);
    }
    
}
@keyframes textOut {
    0%{
        transform: translateY(0%);
    }
    100%{
        transform: translateY(-100%);
    }
    
}

.header-imge-animation{
    position: relative;
    height: 53vh;
    width: 100%;
    bottom: 20%;
  }
  .trensparent-div{
    position: absolute;
    bottom: 0;
    height: 10%;
    width: 100%;
  }

















/* for all sections */

section{
    width: 100%;
    height: auto;
    background-color: #2c3d3d;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 5%;

}

/* 1er section pub event */
.first-section{
    padding-top: 3%;
}

.first-section .sub-section{
height: auto;
min-width: 450px;
width: 50%;
display: flex;
justify-content: center;
align-items: center;
padding: 5%;

}
.publication{
width: 100%;
height: auto;
display: flex;
flex-direction: column;


}
.publication .titre{
    text-align: center;
    height: 50px;
    color: #ffffff;
    
}

.publication  .cadres{
    height:300px;
    width: 100%;
    display: flex;
    /* align-items: flex-start; */
    padding-top: 1%;
   
   
}
@media screen and (max-width: 480px){
    .publication  .cadres{
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
    }


}

.cadres .cadre {
  
    height:230px;
    width:170px;
    margin:5px 10px; 
    /* text-align: center; */
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
  }
  .cadre-img{
    height: 100%;
    width: 100%;
  }
  .cadres .cadre-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;


  }

.sub-sec-discription{
    height: 100px;
    padding: 5%;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;

}


.first-section .sec-button{
    align-self: center;
    margin-top: 10%;
    border-radius: 20px;
    background-color: #88a5e0;
    height: 30px;
    width: 120px;
    text-align: center;
    padding: 1%;
    cursor: pointer;

}
.first-section .sec-button a{
    color: #000f31;
}

.cadre-texte{
    position: absolute;
    top: 85%;
    left: 0%;
    background-color: #000000e1;
    width: 100%;
    height: 22%;
    display: flex;
    padding: 4% 8%;
    
    color: #000f31;
    flex-direction: column;
    transition: 0.5s ease-in-out; 
    overflow: hidden;
    font-size: 120%;

    
}
.cadre-texte-back{
    height: 100%;
    width: 100%;
    background-color: #0000006b;
    position: absolute;
    top:0%;
    left: 0%;
}
.cadre-texte h4{
    color: #ffffff;
    /* transform: rotate(-2deg) skewX(-4deg); */
}






.thecadre{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    /* transition: all 0.6s linear ; */
    /* text-align: center; */
   cursor: pointer;
    
}
.thefront{
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    transform: perspective(1100px) rotateY(0deg);
    transition: .4s   linear;
}

.theback{
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    transform: perspective(1100px) rotateY(180deg);
    transition: .4s  linear;

}

.thecadre:hover > .thefront{
    transform: perspective(1100px) rotateY(-180deg);

}.thecadre:hover > .theback{
    transform: perspective(1100px) rotateY(0deg);

}



























/* 2eme section project  */
.secend-section{
    height: 90vh;
   position: relative;

  
}

.secend-section .sub-section{
    height: 100%;
    width: 50%;
    min-width: 450px;
    padding-top: 10%;
    background-color: #ffffff00;
    flex-wrap: wrap;
    position: relative;


}
.secend-section .sub-section .box{
    height: 300px;
    width: 300px;
    position: absolute;
    background-color: #88a5e0;
    border-radius: 30px;

}
.secend-section .sub-section >:nth-of-type(1){
top:10%;
left: 20%;
}
.secend-section .sub-section >:nth-of-type(2){
top:35%;
left: 45%;
background-color: #3b527f;
}

.sub-section .titre{
line-height: 25px;
font-size: 20px;
color: #ffffff;
text-align: center;
}
.sub-section .titre h2{
    font-size: 32px;
    margin-bottom: 5%;
}











































/* footer css */
footer{
    background-color: #010b25;
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper .button{
    display: inline-block;
    height: 60px;
    width: 60px;
    float: left;
    margin: 0px 5px;
    background:#000f31;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out; 
    overflow: hidden;
   
  }
  .wrapper .button:hover{
    width: 200px;
  }
  .wrapper .button .icon{
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out; 
  }
  .wrapper .button:nth-child(1):hover .icon{
    background: #3b527f;
  }
  .wrapper .button:nth-child(2):hover .icon{
    background: #3b527f;
  }
  .wrapper .button:nth-child(3):hover .icon{
    background: #3b527f;
  }
  .wrapper .button:nth-child(4):hover .icon{
    background: #3b527f;
  }
  .wrapper .button:nth-child(5):hover .icon{
    background: #3b527f;
  }
  .wrapper .button:nth-child(6):hover .icon{
    background: #3b527f;
  }
  .wrapper .button .icon ion-icon{
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out; 
    
  }
  .wrapper .button .icon ion-icon{
    color: #ffffff;
    font-size: 150%;
    margin-top: 30%;
  }
  .wrapper .button span{
    font-size: 20px;
    font-weight: 500;
    position: relative;
    bottom: 4px;
    margin-left: 10px;
    color: white;
    transition: all 0.3s ease-out; 
  }


  

 