:root {

    /* dark mode */
    /* --color1: #126E62;
    --color2: #E1EDEB;
    --color3: #6BA49D;
    --color4: #89B6B1;
  color:   #000f31; */
  --color4:#f0fafb;
  --color2:#ffff;
 --color3:#64babb ;
 --color5:rgba(163, 198, 198, 0.791);
 --color1:#5ea4a4 ;
 


  }
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Tajawal', sans-serif;
    scroll-behavior: smooth;
}

body{
    scroll-behavior: smooth;
}

header {
    height: 100vh;
    width: 100%;
    background-color:var(--color4);
    overflow: hidden;
}
.container{
    margin: 0 auto;
    width: 90%;
    height: auto;
    /* From https://css.glass */
/* From https://css.glass */
background: rgba(225, 237, 235, 0.67);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(11px);
-webkit-backdrop-filter: blur(11px);
border: 1px solid rgba(225, 237, 235, 0);
    border-radius: 30px;
    margin-top: 25px;
left: 5%;
    position: fixed;
    z-index: 999;
}
a {
    width: 20%;
    text-decoration: none;
    color: var(--color1);
   
}
 .logo img {
   width: 100px;
   height: 30px;
  
 }
nav{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: .9rem;
    
}







nav ul {
    list-style: none;
    display: flex;
    position: relative;
}
nav ul li a{
  text-decoration: none;
  margin: 0 1.5rem;
  letter-spacing: 1px;
  color: var(--color1);
  font-weight: 510;

}
nav ul .dropdown  {
    position: absolute;
    left: 5%;
    top: 100%;
    width: 150px;
    height: 29px;
    display: none;
}
nav ul .dropdown ul{
    flex-direction: column;
    position: absolute;
    left: 20%;
    top: 100%;
    /* From https://css.glass */
background: rgba(225, 237, 235, 0.67);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(11px);
-webkit-backdrop-filter: blur(11px);
border: 1px solid rgba(225, 237, 235, 0.3);
    width: 190px;
    height: 100px;
    justify-content: space-around;
    border-radius: 8px;
    transition: 0.5s ease;
    
}

nav ul a:hover{ 
    color: black;
}

nav ul li:hover .dropdown   {
    display:block;
}





/* animation */
nav ul li  {
    transform: translateX(100rem);
    animation: slideIn  1s forwards;
}
nav ul li:nth-child(1){
    animation-delay: 0s ;
}
nav ul li:nth-child(2){
    animation-delay: 0.4s ;
}
nav ul li:nth-child(3){
    animation-delay: .8s ;
}
nav ul li:nth-child(4){
    animation-delay: 1.2s ;
}

/* dropdown no animation  */
nav ul li .dropdown ul li{
    transform: translateX(0rem);
    animation: none;
}
@keyframes slideIn {
    to{
transform: translateX(0rem)  ;
    }
}







/* for dark mode */
input[type="checkbox"]{
    position: absolute;
    top: 30%;
    left: 103%;
   
  }
  input:focus{
    outline: none;
  }
  .search-form:hover{
    border: .5px solid #93929298;
  }






/* //search bare */
.search-form{
    height: 35px;
    width: 20%;
    background-color: rgba(255, 255, 255, 0.786);
    border-radius: 30px;
    box-shadow: 0 0 2px #030303d4;
    display: flex;
    justify-content: space-evenly;
}
.search-input{
    background-color: transparent;
    border: none;
    height: auto;
    width: 70%;
}
.search-button{
    width: 35px;
    font-size: 120%;
    color: rgb(7, 7, 91);
    background-color: transparent;
    border: none;
   
    margin-top: 4px;
}




























header {
    height: 100vh;
    width: 100%;
    background-color:var(--color4);
    background-color: #64babb;
    overflow: hidden;

    
}
/* prisentation animate */

.home{
    padding-top:290px;
    width: 100%;
    height: 50vh;
    background-color: #0b0b0b00;
    color: var(--color1);
    color: #f0fafb;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.home h1{
    font-size: 170%;
}
.home-discreption{
    display: flex;
   align-items: center;
    flex-direction: column;
    overflow: hidden;
    padding-bottom: 2px;
    text-align: center;
    
}
.home-animation{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  text-align: center;
  line-height: 25px;
}
/* .home-animation span{
    font-size: 150%;
    margin-top: 5%;
    display: none;
    
} */

/* .home-animation span.text-in {
display: block;
animation: textIn .7s ease;
} */

.home-animation span.text-out {
animation: textOut .5s ease;
}

@keyframes textIn {
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0%);
    }
    
}
@keyframes textOut {
    0%{
        transform: translateY(0%);
    }
    100%{
        transform: translateY(-100%);
    } 
}







.header-imge-animation{
    position: relative;
    height: auto;
    width: 100%;
    bottom: 25%;
    padding:0% 1% ;
    display: flex;
    gap: 4px;
  }

  .header-imge-animation .cadre{
    height: auto;
    width: 15%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 1%;
    overflow: hidden;
  }

  .cadre .image{
    height: 260px;
    width: 88%;
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 20px;

  }

  .cadre .image img{
   height: 100%;
   width: 100%;
   object-fit: cover;
  }

.trensparent-div{
    position: absolute;
    /* bottom: 200px; */
    bottom: 30%;
    height: 20%;
    width: 100%;
    background: linear-gradient(transparent,#89b6b1f8);
  }

  .cadre span{
    display: none;
    
}

.cadre span.img-in {
   display: block;
   animation: imgIn 1.4s ease;
}

.cadre span.img-out {
   animation: imgOut 1s ease;
}

@keyframes imgIn {
    0%{
        transform: translateY(100%);
        opacity: .2;
    }
    50%{
        opacity: .6;
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
    
}
@keyframes imgOut {
    0%{
        transform: translateY(0%);
        opacity: .5;
    }
    50%{
        transform: translateY(-8%);
        opacity: .4;
    }
    100%{
        transform: translateY(-16%);
        opacity: .1;
    }
    
}


.card {
	border-radius: 14px;
	inset: 0;
	position: absolute;

}




































/* for all sections */

section{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 5%;

}

/* 1er section pub event */
.first-section{
    padding-top: 3%;
    background-color: var(--color4);
}

.first-section .sub-section{
height: auto;
min-width: 450px;
width: 50%;
display: flex;
justify-content: center;
align-items: center;
padding: 5%;


}
.publication{
width: 100%;
height: auto;
display: flex;
flex-direction: column;
align-items: center;


}
.publication .titre{
    text-align: center;
    height: 50px;
    color: var(--color1);
    
    
}

.publication  .cadres{
    height:300px;
    width: 100%;
    display: flex;
    /* align-items: flex-start; */
    padding-top: 1%;
   
   
}
@media screen and (max-width: 480px){
    .publication  .cadres{
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
    }


}

.cadres .cadre {
  
    height:230px;
    width:170px;
    margin:5px 10px; 
    /* text-align: center; */
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
  }
  .cadre-img{
    height: 100%;
    width: 100%;
  }
  .thecadre .thefront img, .theback img{
    height: 100%;
    width: 100%;
    object-fit: cover;


  }

.sub-sec-discription{
    height: 100px;
    padding: 5%;
    text-align: center;
    color: var(--color1);
    font-size: 16px;
    line-height: 25px;

}


.sec-button{
    align-self: center;
    margin-top: 10%;
    border-radius: 20px;
    background-color: var(--color5);
    height: 35px;
    width: 120px;
    text-align: center;
    padding: 1.5%;
    cursor: pointer;
    transition: .2s ;
    box-shadow: 62px 28px 179px 2px rgba(0,0,0,0.47);
-webkit-box-shadow: 62px 28px 179px 2px rgba(0,0,0,0.47);
-moz-box-shadow: 62px 28px 179px 2px rgba(0,0,0,0.47);

}
.sec-button a{
    color:var(--color1);
}
.sec-button:hover a  {
    color: var(--color2);
    letter-spacing: .6px;
    
}
 .sec-button:hover  {
    background-color: var(--color1);
    width: 122px;
}


.cadre-texte{
    background: rgba(0, 0, 0, 0.56);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(19.6px);
    -webkit-backdrop-filter: blur(19.6px);

    position: absolute;
    top: 85%;
    left: 0%;
    width: 100%;
    height: 22%;
    display: flex;
    padding: 4% 8%;
    color: var(--color2);
    flex-direction: column;
    transition: 0.5s ease-in-out; 
    overflow: hidden;
    font-size: 120%;
    text-align: center;

    
}
.cadre-texte-back{
    height: 100%;
    width: 100%;
    position: absolute;
    top:0%;
    left: 0%;
    color: #E1EDEB;
    padding: 6%;
    line-height: 25px;
    text-align: center;

   
}
.cadre-texte-back h3{
    color: #ffffff;
    margin-bottom: 20%;
    margin-top: 10%;

}






.thecadre{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    /* transition: all 0.6s linear ; */
    /* text-align: center; */
   cursor: pointer;
    
}
.thefront{
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    transform: perspective(1100px) rotateY(0deg);
    transition: .4s   linear;
    object-fit: cover;
}

.theback{
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    transform: perspective(1100px) rotateY(180deg);
    transition: .4s  linear;
    
}
.theback img{
    filter: blur(35px);
    
}

.thecadre:hover > .thefront{
    transform: perspective(1100px) rotateY(-180deg);

}.thecadre:hover > .theback{
    transform: perspective(1100px) rotateY(0deg);

}


























/* 2eme section project  */
.secend-section{
    /*! height: 90vh; */
   /*! position: relative; */
background-color: var(--color4);
  
    display: flex;
    flex-wrap: wrap;
}

.secend-section .sub-section{
    height: 450px;
    width: 50%;
    min-width: 450px;
    padding-top: 10%;
padding-left: 5%;
padding-right: 5%;
    background-color: #ffffff00;
    flex-wrap: wrap;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    min-width: 432px;
}
.secend-section .sub-section .box{
    height: 300px;
    width: 300px;
    position: absolute;
        border-radius: 30px;
   

}
.secend-section .sub-section .box .thecadre{
    display: flex;
    justify-content: space-evenly;
    align-items: center;   
    flex-direction: column;
    
    
}
.secend-section .sub-section.er1 >:nth-of-type(1){
top:10%;
left: 20%;
z-index: 0;
transition: 0.4s;
background-color: var(--color2);
box-shadow:2px 4px 10px #126E62;


}
.secend-section .sub-section.er1 >:nth-of-type(1):hover{
    top:10%;
    left: 20%;
    z-index: 9;
    }
.secend-section .sub-section.er1 >:nth-of-type(2){
top:35%;
left: 45%;
background-color: var(--color2);
box-shadow:2px 4px 10px #126E62;

}


.secend-section .sub-section .titre{
line-height: 29px;
font-size: 20px;
color: var(--color1);
text-align: center;
width: 90%;
}
.sub-section .titre h2{
    font-size: 32px;
    margin-bottom: 5%;
}

.secend-section .box .text-animation {
    text-align: center;
    color: #126E62;
    width: 80%;
}

.box:nth-child(2) .imge img{
    height: 100px;
    width: 100px;
}
.box:nth-child(1)  .imge img{
    height: 120px;
    width: 100px;
}

.secend-section .sec-button{
    
    margin: 0%;
}











/* therd-section */

.therd-section {
	background-color: var(--color3);
	/* height: 90vh; */
	/* position: relative; */
	display: flex;
	padding-bottom: 0%;
	flex-wrap: wrap;
	justify-content: center;
	padding: 1% 5%;
}


.therd-section .sub-section {
	width: 55%;
	/* padding-left: 7%; */
	display: flex;
	align-items: center;
	height: 495px;
	min-width: 432px;
	padding-left: 7%;
}
/* .therd-section .sub-section .titre{
    text-align: start;
    width: 85%;
} */
.therd-section .sub-section.eme2{
    width: 45%;
    /*! height: 100%; */
   
}

.therd-section .sub-section .titre{
    line-height: 29px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    width: 90%;
    }
   .therd-section .sub-section .titre h2{
        font-size: 32px;
        margin-bottom: 5%;
    }
    



  
      

    .swiper {
      width: 60%;
      height: 75%;
      
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: var(--color2);
      display: flex;
      justify-content: center;
      align-items: center;
     

    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
     
    }
    .swiper-button-next, .swiper-button-prev {color: var(--color3,var(--color4));}

    
    .autoplay-progress {
      position: absolute;
      right: 16px;
      bottom: 16px;
      z-index: 10;
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      color: var(--swiper-theme-color);
    }

   











/* header navbar
    body{
        scroll-behavior: smooth;
    }
    
    header {
        height: 100vh;
        width: 100%;
        background-color:var(--color3);
        overflow: hidden;
        
    }
    .container{
        margin: 0 auto;
        width: 90%;
        height: auto;
        /* From https://css.glass */
    /* From https://css.glass */
    /* background: rgba(225, 237, 235, 0.67);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11px);
    -webkit-backdrop-filter: blur(11px);
    border: 1px solid rgba(225, 237, 235, 0);
        border-radius: 30px;
        margin-top: 25px;
    left: 5%;
        position: fixed;
        z-index: 999;
    }
    a {
        width: 20%;
        text-decoration: none;
        color: var(--color1);
       
    }
     .logo img {
       width: 100px;
       height: 30px;
      
     }
    nav{
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;
        font-size: .9rem;
        
    }
    
    
    
    
    
    
    
    nav ul {
        list-style: none;
        display: flex;
        position: relative;
    }
    nav ul li a{
      text-decoration: none;
      margin: 0 2rem;
      letter-spacing: 1px;
      color: var(--color1);
      font-weight: 510;
    
    }
    nav ul .dropdown  {
        position: absolute;
        left: 5%;
        top: 100%;
        width: 150px;
        height: 29px;
        display: none;
    }
    nav ul .dropdown ul{
        flex-direction: column;
        position: absolute;
        left: 20%;
        top: 100%;
        /* From https://css.glass 
    background: rgba(225, 237, 235, 0.67);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11px);
    -webkit-backdrop-filter: blur(11px);
    border: 1px solid rgba(225, 237, 235, 0.3);
        width: 190px;
        height: 100px;
        justify-content: space-around;
        border-radius: 8px;
        transition: 0.5s ease;
        
    }
    
    nav ul a:hover{ 
        color: black;
    }
    
    nav ul li:hover .dropdown   {
        display:block;
    }
    
    /* animation 
    nav ul li  {
        transform: translateX(100rem);
        animation: slideIn  1s forwards;
    }
    nav ul li:nth-child(1){
        animation-delay: 0s ;
    }
    nav ul li:nth-child(2){
        animation-delay: 0.4s ;
    }
    nav ul li:nth-child(3){
        animation-delay: .8s ;
    }
    nav ul li:nth-child(4){
        animation-delay: 1.2s ;
    }
    
    /* dropdown no animation  
    nav ul li .dropdown ul li{
        transform: translateX(0rem);
        animation: none;
    }
    @keyframes slideIn {
        to{
    transform: translateX(0rem)  ;
        }
    }
    
    
    
    
    
    
    
    /* //search bare 
    .search-form{
        height: 35px;
        width: 20%;
        background-color: rgba(255, 255, 255, 0.786);
        border-radius: 30px;
        box-shadow: 0 0 2px #030303d4;
        display: flex;
        justify-content: space-evenly;
    }
    .search-input{
        background-color: transparent;
        border: none;
        height: auto;
        width: 70%;
    }
    .search-button{
        width: 35px;
        font-size: 120%;
        color: rgb(7, 7, 91);
        background-color: transparent;
        border: none;
       
        margin-top: 4px;
    }
    
     */ 