
  .sidebar {
    position: fixed;
    top: 178px;
    right: 20px;
    width: 200px;
    padding: 20px;
    background-color: #E1EDEB;
    border-radius: 10px;
  }
  ul{
    list-style: none;
  }
  .sidebar h3.titre {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #126E62;
  }

  .sidebar-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .sidebar-list li {
    margin-bottom: 10px;
  }
  
  .sidebar-list li a {
    display: block;
    padding: 5px;
    color: #6BA49D;
    text-decoration: none;
    font-size: 14px;
  }
  
  .sub-menu ul li a:hover {
    background-color: #89B6B1;
    color: #E1EDEB;
  }
  
  .sub-menu ul {
    /* display: none; */
    padding: 4%;
  }
  
  .sub-menu:hover ul {
    display: block;
  }
  
  .sub-menu:hover a {
    
  }
  
  .sidebar-list li a:before {
    content: '\25BC';
    /* display: inline-block;
    margin-right: 5px;  */
  }
  .sub-menu li a:before{
    content: '';
  }