/* <<<<<<< HEAD
main {
    width: 600px;
    height: fit-content;
    position: relative;
    margin: auto;
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-image: linear-gradient(45deg, #6BA49D, 
    #89B6B1);
    border-radius: 2.5em;
    padding: 30px;
    color: #E5F3FD;
  }
  
  .form::before {
    content: '';
    background-image: linear-gradient(45deg, #000080, 
    #0CBABA);
    top: -10px; bottom: -10px; left: -10px; right: -10px;
    position: absolute;
    z-index: -1;
    border-radius: 2.7em;
  }
  
  .button {
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    background: #20cd5a;
    color: white;
    padding: 0.7em 5.5em;
    display: flex;
    align-items: center;
    border: 2px solid #66da4300;
    border-radius: 5em;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
  }
  
  .button:hover {
    border: 2px solid #01796f;
    background: #00000000;
    color: #20cd5a;
  }
  
  .button:active {
    border: 2px solid #66da4300;
    background: #009E60;
    color: black;
  }
  
  .input {
    width: calc(100% - 10px);
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #66da4300;
    border-bottom: 1px solid #01796f;
    outline: none;
    background-color: transparent;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.2s;
  }
  
  .input:focus {
    border: 1px solid #66da4300;
    border-bottom: 1px solid #01796f;
    background-color: transparent;
    color: black;
  }
  
  .input::placeholder {
    color: #01796f;
  }
  
  .textarea {
    font-family: Arial, Helvetica, sans-serif;
    width: calc(100% - 10px);
    padding: 8px;
    height: 100px;
    margin-bottom: 20px;
    border: 1px solid #66da4300;
    border-bottom: 1px solid #01796f;
    outline: none;
    resize: none;
    background-color: transparent;
    color: black;
  }
  
  .textarea::placeholder {
    color: #01796f;
  }
  
  .textarea:focus {
    border: 1px solid #66da4300;
    border-bottom: 1px solid #29AB87;
    background-color: transparent;
    color: black;
  }
======= */
:root {

  /* dark mode */
  /* --color1: #126E62;
   --color2: #E1EDEB;
   --color3: #6BA49D;
   --color4: #89B6B1;
 color:   #000f31; */
  --color4: #f0fafb;
  --color2: #ffff;
  --color3: rgb(141, 179, 179);
  --color1: #5ea4a4;



}
body{
  background-color: var(--color4);
}


section {
  height: auto;
  padding: 12% 4%;
  display: flex;
  justify-content: flex-end;
}

.said-check {
  background-color: var(--color2);
  height: 530px;
  width: 17.5%;
  border-radius: 13px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: var(--color3);
  margin-top: 2.9%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  box-shadow: 0 3px 10px rgba(163, 198, 198, 0.791);
  /* position: fixed; */
  /* left: 5%; */
  /* top: 023.4%; */
  position: sticky;
  overflow: hidden;
  right: 78.5%;
  top: 100px;
}

.said-check::after {
  content: "";
  height: 11px;
  background-color: #64b9bb92;
  background-color: rgba(163, 198, 198, 0.791);

  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15.6px);
  -webkit-backdrop-filter: blur(15.6px);
  position: absolute;
  top: 0%;
  width: 100%;

}

.said-check .side-ul {
  gap: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8%;

}

.said-check .side-ul .choix {
  padding-left: 15px;
  height: 35px;
  padding-top: 9px;
  cursor: pointer;
  color: rgb(110, 133, 133);
}

.said-check .side-ul .choix:hover {
  background-color: #f0fafb;
  color: #385f5f;
}

.side-ul h4 {
  padding-left: 5%;
  background-color: var(--color4);
  height: 35px;
  padding-top: 4%;
  color: var(--color1);
  font-size: 110%;
  font-weight: 500;
  border-left: #64babb solid;
  border-radius: 2px;
}


.container2 {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  left: -6%;
  margin-top: 2.9%;

}

.container2>div {
  width: 50%;
}
.dbox .icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  text-align: center;
  background-color: var(--color3);
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon ion-icon {
  color:var(--color2);
  font-size: 140%;
}

.titre {
  font-size: 1.3em;
  text-align: center;
  color: var(--color3);
}
.container2 >div{
width: 70%;
}
.infos .about-us .row {
  display: flex;
  height: auto;
  justify-content: space-around;
  margin:10% 0%;
}

.infos .about-us .row .col-md-4 {
  width: 30%;
  height: 100%;
  margin: 0% 4%;
min-width: 150px;
}

.dbox{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  line-height: 25px;
}
.dbox div {
  text-align: center;
  margin: 10% 0%;

}
a{
  text-decoration: none;
  color: var(--color1);
}

.messege{
display: flex;
justify-content: center;
}
.messege .contact-wrap  {
  width: 100%;
}
.contactForm{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 5%;
}
.contactForm .row
{
  width: 80%;

}
.contactForm .row .form-group>*
{
  width: 100%;
  margin: 1% 0%;
  height: 47px;
  padding: 3%;
  background-color: rgba(141, 179, 179, 0.561); ;
  color: #385f5f ;
  border: none;
  border-radius: 2px;
  font-weight: 400;
  font-size: 95%;
}
.contactForm .row .form-group>*:focus{
  background-color: rgba(141, 179, 179, 0.804); 
  
}
#message{
  height: 200px;
  font-weight: 400;
  font-size: 100%;
  
}
 section  #btn{
  font-size: 110%;
  font-weight: 500;
  color: var(--color2);
background-color: #5ea4a4b9;
box-shadow: 4px 3px 14px .3px #4646466e;

}
 section #btn:hover{
  background-color: var(--color1);

}
@media only screen and (max-width: 400px) {
  .said-check {
    display: none;
  }
  .messege{
    width: 100%;
  }
 
 
  .container2{
    width: 90%;
    align-items: center;
  }
  .container2 >div{
    width: 90%;
  }
  .row{
  flex-wrap: wrap;

  }
}

.dbox {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	line-height: 27px;
	flex-direction: column;
}