body {
    background-color: rgb(12, 81, 82);
}

.img {
    margin-left: auto;
    display: block;
    width: 200px;
    height: 100%;
    background-color: #ccc;
    border-radius: 20px;
}

.event-card {
    display: flex;
    align-items: stretch;
    background-color: rgb(1, 1, 26);
    color: white;
    margin: 200px;
    padding: 20px;
    border-radius: 20px;
}
.ch1 {
    padding: 20px;
    flex:1;
}
.titre {
    padding-left: 30px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
}

p {
    margin: 0;
    padding: 15px;
}


/*
tag {
attribut : value
}
*/